body {
    background-color: rgb(117, 124, 118);
    margin: 2.5%;
}

.right {
    float: right;
    width: 33%;
}

.left {
    position: relative;
    float: left;
    width: 33%;
}

.head {
    border-radius: 50%;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 30px;
    float: left;
}

A1 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255)
}

A2 {

    font-family: Microsoft JhengHei;
    font-size: 35px;
}

A3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    line-height: 20px;
    color: white;
}

quots1 {
    writing-mode: vertical-lr;
    font-size: 40px;
    font-family: SimHei;
    font-weight: bold;
    line-height: 55px;
    letter-spacing: 10px;
    color: rgb(219, 219, 219);
}

quots2 {
    writing-mode: vertical-lr;
    font-size: 40px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    font-style: initial;
    text-align: center;
    letter-spacing: 10px;
    color: #5f5a5a;
}

.quots-container {
    float: left;
    height: 450px;
    width: 220px;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#74706d), to(#3b3a38));
    margin-left: 45px;
    margin-right: 90px;
}



.quots-container1 {
    float: left;
    height: 450px;
    width: 220px;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eb9eab), to(#ffb6c1));
    margin-left: 0px;
    margin-right: 25px;
    text-align: center;
}

.link-right {
    width: 50px;
    height: 20%;
    border-right: solid #ACC0D8 1px;
}

.accordion {
    background-color: #eee;
    color: #444(94, 45, 45);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.6s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.picturecontainer {
    margin-top: 2%;
    margin-bottom: 10%;
    float: left;
    height: 850px;
    width: 1760px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.picturetitle {
    margin-top: 10%;
    float: left;
    height: 80px;
    width: 1760px;
    border-radius: 20px;
    background: rgb(65, 63, 63);
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;

}

C1 {
    font-size: 40px;
    font-weight: bold;
    font-family: SimHei;
    color: white;
    line-height:80px
}

/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box
}

/* Container for skill bars */
.container {
    width: 90%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
    float: right;
    border-radius: 10px;
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-top: 10px;
    /* Add top padding */
    padding-bottom: 10px;
    /* Add bottom padding */
    color: white;
    /* White text color */
    border-radius: 10px;
}

.pr {
    width: 50%;
    background-color: #04AA6D;
}

/* Green */
.ae {
    width: 30%;
    background-color: #2196F3;
}

B1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

B2 {
    font-family: SimHei;
    size: 50px;
}

B3 {
    color: red;
    font-weight: 400;
}

.shodow {
    margin: 20px;
    box-shadow: 3px 3px 12px gray;
    padding: 3px;
    width: 200px;
}

.shodow:hover {
    width: 700px;
    transition: all 0.8s;
    transform: scale(1.1);

}